@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&family=Ubuntu:wght@400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --clr: #222327;
}

header {
    background-color: var(--clr);
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
    color: #fff;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header .name {
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.header .name .icon {
    display: block;
    padding-right: 10px;
}

.header .name .icon ion-icon {
    font-size: 2.2em
}

.header .name .text {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 28px;
    letter-spacing: 1px;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
}

nav ul .link {
    display: block;
    list-style: none;
    padding: 0 10px;
}

nav ul .link a {
    text-decoration: none;
    color: #fff;
}

main {
    background-color: cornsilk;
    width: 100%;
    height: 82vh;
}

.content {
    min-height: calc(82vh - 90px);
}

.selection {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr);
    min-height: 100px;
}

.navigation {
    width: 400px;
    height: 70px;
    background: #fff;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.navigation ul {
    display: flex;
    width: 350px;
}

.navigation ul li {
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}

.navigation ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
    text-decoration: none;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: var(--clr);
}

.navigation ul li.active a .icon {
    transform: translateY(-35px);
}

.navigation ul li a .text {
    position: absolute;
    color: var(--clr);
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
}

.navigation ul li.active a .text {
    opacity: 1;
    transform: translateY(10px);
}

.indicate {
    position: absolute;
    top: -50%;
    width: 70px;
    height: 70px;
    background: #29fd53;
    border-radius: 50%;
    border: 6px solid var(--clr);
    transition: 0.5s;
}

.indicate::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -22.5px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-right-radius: 20px;
    box-shadow: 0px -10px 0 0 var(--clr);
}

.indicate::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -22.5px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-left-radius: 20px;
    box-shadow: 0px -10px 0 0 var(--clr);
}

.navigation ul li:nth-child(1).active ~ .indicate {
    transform: translateX(calc(70px * 0));
}
.navigation ul li:nth-child(2).active ~ .indicate {
    transform: translateX(calc(70px * 1));
}
.navigation ul li:nth-child(3).active ~ .indicate {
    transform: translateX(calc(70px * 2));
}
.navigation ul li:nth-child(4).active ~ .indicate {
    transform: translateX(calc(70px * 3));
}
.navigation ul li:nth-child(5).active ~ .indicate {
    transform: translateX(calc(70px * 4));
}